/* 1.set font family of entire docs to Cournier New */
*{
    font-family: 'Courier New';
}
/* 2.set text color of all h1 headings to .. */
h1{
    color: #1b74e4;
}
/* 3.set b-c of search buton to black and text color to white */
#searchbtn{
    background-color: black;
    color: white;
}
/* 4.set b-c of login &signup buton to aqua */
header button{
    background-color: aqua; 
} 
/* or using id for both */
#login,#register{
    background-color: aqua;
}
/* or using class same for both */
.userbtn{
    background-color: aqua;
}
 